:host ::ng-deep {
  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  mat-icon {
    font-size: 54px;
    height: 54px;
    width: 54px;
  }
  .logo {
    border-radius: 50%;
  }
}
