<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let menu of menuLinks; trackBy: trackByMenuLabel">
        <a
          mat-list-item
          (click)="menu.action(); drawer.close()"
          *ngIf="menu.visible()"
          >{{ menu.label }}</a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        mat-button
        [routerLink]="[appRoutes.home]"
        routerLinkActive="router-link-active"
      >
        Angular Marketplace
        <mat-icon>storefront</mat-icon>
      </button>
      <span class="spacer"></span>
      <button fxHide.xs mat-button *ngIf="currentUser$ | async as currentUser">
        <mat-icon>person</mat-icon>
        {{ currentUser?.email }}
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
